body { font-family: Arial, sans-serif; }
h1 { font-size: 38px; }
h2 { font-size: 32px; }
.ingredient-list { list-style: square inside; }
.directions-list { color: #7B9E89; }
header > img { width: 100px; }
ul li a { text-decoration: none; color: inherit; }
body { background-color: #F0A202; }
